* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-job {
    background: #fff;
    padding: 2rem;
   
}
.flex-item{
    display: flex;
    justify-content: space-around;

}


textarea:focus,
input:focus
 {
    outline: none;
}




.show {
    max-width: 1220px;
    margin: 30px auto;
    text-align: center;
    background: #4a5568;
    padding: 3rem ;
}

.show h1 {
    font-size: 2rem;
    text-align: center;
    color: orange;
    margin: 1rem 0;

}

.show p {
    color: #fff;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
}

/* 
.btn1 {

    background: #4a5568;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;

} */


/* .create {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #2d3748;
    color: #fff;
} */

/* label {
    display: block;
    padding: 1rem;
    color: #fff;
}

input,textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius:7px ;
} */


/* .btn {
    display: block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    color: #FFF;
    background: #4a5568;
    border: none;
    cursor: pointer;
    width: 100%;
} */

.btn:hover{
    text-decoration: underline;
    transition: all 1s ease-in;
    
}

/* input:focus{
   outline: none;
}

textarea:focus {
    outline: none;
} */


span {
    display: inline-block;
    color: red;
    text-align: center;
}


.red{
    border-color: red;
}

 .status{
    color: #4a5568;
    font-size: 2rem;
    transition: all 2s ease-in-out ;
    animation: ani 2s ease-in-out  alternate ;
    text-align: center;
    font-weight: bold;

}
 
@keyframes ani {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(5deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
       
    }
    55% {
        transform: rotate(0deg);
       
    }
    70% {
        transform: rotate(0deg);
       
    }
    100% {
        transform: rotate(0deg);
        left: 0px;
    }
}